.menu .container {
    width: 80%;
    margin: var(--m);
}

.menu-category-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 40px;
}

.menu-category-list .menu-category:not(:nth-child(2)) { position: relative; }

.menu-category-list .menu-category:hover {
    border-bottom: 1px solid var(--item-hover);
}

.menu-category-list .menu-category  .menu-title {
    position: relative;
    color: var(--item);
    font-size: var(--title-font-size);
    text-transform: uppercase;
    margin: var(--m);
    padding: 10px 20px;
    line-height: 40px;
    font-weight: 600;
    transition: 0.2s ease;
}

.menu-category-list .menu-category:hover  .menu-title{
    color: var(--item-hover);
}

.menu-category .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px #ccc;
    visibility: hidden;
    pointer-events: none;
    transition: 0.2s ease;
    transform: translateY(50px);
    opacity: 0;
    z-index: 30;
    background-color: var(--background);
}

.menu-category-list .menu-category:hover .dropdown-list {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.menu-category .dropdown-list .dropdown-title {
    padding: 10px 0;
    margin-left: 20px;
}

.menu-category .dropdown-list .dropdown-title  a {
    font-size: var(--title-font-size);
    transition: 0.2s ease;
}

.menu-category .dropdown-list .dropdown-title:hover a{
    color: var(--item-hover);
}