<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <!--
        - css link
    -->
    <link rel="stylesheet" href="/3CEWEB/project/component/header/header.css">
    <link rel="stylesheet" href="/3CEWEB/project/assets/css/general.css">

    <!--
        - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!--
        - icons 
    -->
    <link rel="stylesheet" href="/3CEWEB/project/assets/css/fontawesome-free-6.6.0-web/css/all.css">
    
</head>

<body>
    <div class="overlay" data-overlay></div>
    <!--
        - HEADER
    -->

    <header>

        <div class="header-main">

        <div class="container">

            <a href="/3CEWEB/project/home.html" class="header-logo">
                <img src="/3CEWEB/project/assets/images/public/logo.png" alt="3CE Lipsticks logo" width="150" height="80">
            </a>

            <div class="header-search-container">

                <input type="search" name="search" class="search-field" placeholder="Nhập tên sản phẩm...">

                <button class="search-btn">
                    <ion-icon name="search-outline"></ion-icon>
                </button>

            </div>

            <div class="header-user-actions">

                <a href="/3CEWEB/project/component/login/login.html">
                    <button class="log-btn">Đăng nhập</button>
                </a>
                
                <a href="/3CEWEB/project/component/register/register.html">
                    <button class="log-btn">Đăng ký</button>
                </a>

                <a href="/3CEWEB/project/page/cart.html">
                    <button class="action-btn">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="count">0</span>
                    </button>
                </a>
                
                <a href="">
                    <button class="action-btn">
                        <i class="fa-solid fa-circle-user"></i>
                    </button>
                </a>

            </div>

        </div>

        </div>

        <nav class="desktop-navigation-menu">

        <div class="container">

            <ul class="desktop-menu-category-list">

            <li class="menu-category">
                <a href="/3CEWEB/project/home.html" class="menu-title">trang chủ</a>
            </li>

            <li class="menu-category">
                <a href="/3CEWEB/project/page/about.html" class="menu-title">Giới thiệu</a>
            </li>

            <li class="menu-category">
                <a href="/3CEWEB/project/page/product.html" class="menu-title">Sản phẩm</a>

                <ul class="dropdown-list">

                <li class="dropdown-item">
                    <a href="/3CEWEB/project/page/product-detail.html">Son thỏi</a>
                </li>

                <li class="dropdown-item">
                    <a href="/3CEWEB/project/page/product-detail.html">Son kem</a>
                </li>

                <li class="dropdown-item">
                    <a href="/3CEWEB/project/page/product-detail.html">Son bóng</a>
                </li>

                <li class="dropdown-item">
                    <a href="/3CEWEB/project/page/product-detail.html">Son tint</a>
                </li>

                <li class="dropdown-item">
                    <a href="/3CEWEB/project/page/product-detail.html">Son dưỡng</a>
                </li>

                </ul>
            </li>

            <li class="menu-category">
                <a href="/3CEWEB/project/page/contact.html" class="menu-title">Liên hệ</a>
            </li>

            </ul>

        </div>

        </nav>

    </header>

</body>
</html>