header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: var(--m);
}

.header-logo {
    width: 20%;
}

.header-search-container {
    position: relative;
    width: 30%;
}

.header-search-container .search-field {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: var(--item-border);
    padding: 10px 15px;
    font-size: var(--item-font-size);
    margin: var(--m);
}

.header-search-container .search-btn {
    position: absolute;
    top: 13%;
    right: 5px;
    padding: 5px;
    border: none;
    font-size: 18px;
    background: none;
    transition: color 0.2s ease;
}

.header-search-container .search-btn i {
    color: var(--item);
}

.header-search-container:hover .search-btn i {
    color: var(--item-hover); 
    transition: color 0.2s ease;
}

.header-user-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
    margin-left: 20px;
}

.header-user-actions button {
    border: none;
    border-bottom: var(--item-border);
    padding: 10px;
    border-radius: 10px;
    height: 40px;
}

.header-search-container:hover .search-field,
.header-user-actions button:hover {
    border-bottom: var(--item-border2);
    transition: color 0.2s ease;
}

.header-user-actions button i {
    font-size: 20px;
}

.header-user-actions button:hover i {
    color: var(--item-hover); 
    transition: color 0.2s ease;
}

.header-user-actions .user-out {
    display: flex;
    /* display: none; */
    /* width: 30%; */
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.header-user-actions .user, .user-in > .logout,
.user-out > .login, .user-out > .register {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-in > .logout,
.user-out > .login, .user-out > .register {
    width: 50%;
}

.header-user-actions .user-in {
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    gap: 20px;
}

.header-user-actions .cart-btn {
    position: relative;
    display: block;
}

.header-user-actions .cart-btn > i {
    font-size: 25px;
}

.header-user-actions .cart-btn .count {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 4px;
    border-radius: 20px;
    background-color: var(--background3);
    color: #fff;
    font-size: 12px;
}
