/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 155px 0 30px;
    color: rgb(237, 35, 68);
}

.cart-container .top-cart ,.main-cart{
    max-width: 1200px;
    width: 100%;
}


/*-----------------------------------*\
  #TOP CART
\*-----------------------------------*/
.top-cart{
    display: flex;
    align-items: center;
    border: 1px solid rgb(175, 7, 35);
    border-radius: 5px;
    padding: 20px 10px;
    margin: 5px 0;
    box-shadow: 1px 1px 3px 1px #ca2828;
}


/*-----------------------------------*\
  #MAIN CART
\*-----------------------------------*/

.main-cart{
    border: 1px solid #aa7272;
    padding: 30px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #dcc6c6;
}

.main-cart .main-cart-none{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-cart .img-cart img{
    width: 100%;
}

.main-cart .come-back{
    padding: 10px;
}

.main-cart .come-back a{
    padding: 10px;
    border: 1px solid rgb(178, 91, 91);
    background: pink;
    color:white;
    font-weight:bold ;
    box-shadow: 1px 1px 3px 1px #a62929;
}

.main-cart .come-back a:hover{
    color: white;
    box-shadow: 1px 1px 5px 1px #b6b6b6;
}

.maincartproduct{
    display: flex;
    
}

/*-----------------------------------*\
  #MAINCART PRODUCT
\*-----------------------------------*/
.maincart_product{
    width: 70%;
}

.maincart_product > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maincart_product .maincart_product_ .maincart_product__{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px 0px 20px;
    border-bottom: 1px solid #dfdddd;
    align-items: center;
}

 
.maincart_product__ > a, 
.maincart_product__ > span, 
.maincart_product__ > .maincart_product_remove
.maincart_product .maincart_product_ .maincart_product__ > .maincart_product_img {
    width: calc(100%/6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincart_product .maincart_product_ .maincart_product__> a{
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
    font-size: 15px ;
    color: #3d3333;
    font-weight: 600;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* height: 50px; */
}

.maincart_product .maincart_product_ .maincart_product__>a:hover{
    color: #000000;
}

.maincart_product .maincart_product_ .maincart_product__ > .maincart_product_img{
    padding: 10px;
    width: 200px;
}

.maincart_product .maincart_product_ .maincart_product__ > .maincart_product_img > div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.maincart_product .maincart_product_ .maincart_product__ > .maincart_product_img > div > img{
    object-fit: contain ;
    width: 100%;
    vertical-align: middle;
    aspect-ratio: 1.5;
}

/* .maincart_product .maincart_product_ .maincart_product__ > .maincart_product_img > div > img{
    aspect-ratio: 1.5;
} */

.quantity-product{
    display: flex;
    width: fit-content;
    border: 1px solid #bcbcbc;
}

.quantity-product input:focus{
    outline: none;
}

.quantity-product input[type=button]{
    padding: 5px;
    background: #f5f6f2;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.quantity-product input[type=button]:hover{
    background: rgb(183, 159, 122);
    color: white;
}

.quantity-product input[type=button]:active{
    background: pink;
    color: white;
}

.quantity-product .no-spinner::-webkit-inner-spin-button,
.quantity-product .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-product input[type=number]{
    max-width: 60px;
    width: 100%;
    background: #f5f6f2;
    text-align: center;
    padding: 5px 5px;
    border: none;
    font-size: 16px;
    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
}

.quantity-product .no-spinner {
    -moz-appearance: textfield;
    appearance:textfield;
}




/*-----------------------------------*\
  #MAINCART TOTALPRICE
\*-----------------------------------*/

.maincart_totalprice{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maincart_totalprice .maincart_totalprice_{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.maincart_totalprice form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.maincart_totalprice button{
    padding: 5px 0px;
    width: 80%;
    font-size: large;
    border-radius: 5px;
    text-align: center;
    margin: 5px 0px;
    border: 1px solid pink;
    background: pink;
    font-weight: bold;
    color: white;
}




/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/


/**
 * responsive larger than 480px screen
 */

@media (min-width: 480px) {

  /**
   * #CUSTOM PROPERTY
   */

  :root {

    /**
     * typography 
     */

    --fs-1: 1.875rem;

  }
}





/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * #CUSTOM PROPERTY
   */

  :root {

    /**
     * typography 
     */

    --fs-1: 2.375rem;

  }



  /**
   * #BASE 
   */

  html { font-size: 17px; }



  /**
   * #REUSED STYLE 
   */

  .register-container {
    max-width: 750px;
    margin: auto;
  }
}





/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * #CUSTOM PROPERTY
   */

  :root {

    /**
     * typography 
     */

    --fs-1: 2.625rem;
    --fs-2: 1.125rem;

  }



  /**
   * #REUSED STYLE 
   */

  .register-container { 
        max-width: 980px; 
        margin-top: 155px; 
        margin-bottom: 30px;
    }
}





/**
 * responsive larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * #REUSED STYLE 
   */

  .register-container { 
        max-width: 1200px; 
        margin-top: 155px; 
        margin-bottom: 30px;
    }
}





/**
 * responsive larger than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * #BASE 
   */

  html { font-size: 18px; }



  /**
   * #REUSED STYLE 
   */

  .register-container { 
        max-width: 1350px; 
        margin-top: 155px; 
        margin-bottom: 30px;
    }
}