
/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/
.contact-container {
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 160px; 
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


.contact-container .contact-header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container .contact-header h1 {
    margin-bottom: 10px;
}

.contact-container .contact-header p {
    margin-bottom: 5px;
}

.contact-container .form-group input {
    margin: 20px 0;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
}

.contact-container .form-group textarea {
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
}

.contact-container .form-group button {
    width: 20%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/


/**
 * responsive larger than 480px screen
 */

@media (min-width: 480px) {

  /**
   * #CUSTOM PROPERTY
   */

  :root {

    /**
     * typography 
     */

    --fs-1: 1.875rem;

  }
}





/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * #CUSTOM PROPERTY
   */

  :root {

    /**
     * typography 
     */

    --fs-1: 2.375rem;

  }



  /**
   * #BASE 
   */

  html { font-size: 17px; }



  /**
   * #REUSED STYLE 
   */

  .register-container {
    max-width: 750px;
    margin: auto;
  }
}





/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * #CUSTOM PROPERTY
   */

  :root {

    /**
     * typography 
     */

    --fs-1: 2.625rem;
    --fs-2: 1.125rem;

  }



  /**
   * #REUSED STYLE 
   */

  .register-container { 
        max-width: 980px; 
        margin-top: 160px; 
        margin-bottom: 30px;
    }
}





/**
 * responsive larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * #REUSED STYLE 
   */

  .register-container { 
        max-width: 1200px; 
        margin-top: 160px; 
        margin-bottom: 30px;
    }
}





/**
 * responsive larger than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * #BASE 
   */

  html { font-size: 18px; }



  /**
   * #REUSED STYLE 
   */

  .register-container { 
        max-width: 1350px; 
        margin-top: 160px; 
        margin-bottom: 30px;
    }
}