/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/
main .slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    width: 100%;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain; 
}

.slider-container .slider-item {
    position: relative;
    min-width: 100%;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
}

.slider-container .slider-item .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.dot {
  height: 5px;
  width: 30px;
  margin: 0 2px;
  background-color: var(--item1);
  border-radius: 30%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.active {
  background-color: var(--item3);
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/

main .category-container .container { 
    margin-bottom: 30px; 
    width: 100%;
}

.category-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.category-item {
    min-width: 24%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid var(--item1);
    border-radius: 10px;
    scroll-snap-align: start;
}

.category-img-box {
    background: var(--background1);
    border: var(--item-border1);
    padding: 10px;
    border-radius: 10px;
}

.category-content-box { width: 100%; }

.category-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.category-item-title {
    color: var(--item);
    font-size: var(--item-font-size);
    font-weight: 600;
    text-transform: uppercase;
}

.category-item-amount {
    color: var(--item1);
    font-size: 16px;
}

.category-btn {
    color: var(--item2);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

/*-----------------------------------*\
    #SIDEBAR
\*-----------------------------------*/

main .sidebar-container {
    position: sticky;
    top: 120px;
    float: left;
    width: 25%;
    min-width: calc(25% - 15px);
    overflow-y: auto;
    overscroll-behavior: auto;
    transition: 0.5s ease;
    z-index: 5;
    background-color: var(--background);
}

.sidebar-container .container {
    padding: 0 10px;
}

.sidebar-container .product-showcase {
    margin-bottom: 20px;
    display: block;
}

.product-showcase .showcase-wrapper .cap  { 
  background: var(--background3); 
  padding: 5px 10px;
  font-weight: bold; 
  text-transform: uppercase; 
  cursor: pointer; 
  color: white;
  font-size: 18px;
}

.product-showcase .showcase-wrapper .ct > label {
  margin: 8px 0 10px 30px;
  font-size: 18px; 
  display: flex;
  align-items: center; 
  cursor: pointer; 
}

.product-showcase .showcase-wrapper .ct input { 
    width: 16px; 
    height: 16px; 
    margin-right: 10px;
}

#filterButton {
  width: 20%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

#filterButton:hover {
  background-color: var(--background3);
  color: #fff;
  border: none;
  box-shadow: 0 0 10px #ccc;
}

/*-----------------------------------*\
  #PRODUCT MINIMAL
\*-----------------------------------*/

.product-minimal { margin-bottom: 30px; }

.product-minimal .product-showcase { margin-bottom: 10px; }

.product-minimal .showcase-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}

.product-minimal .showcase-container {
    display: grid;
    min-width: 100%;
    gap: 20px;
    padding: 0 5px;
    scroll-snap-align: start;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.product-minimal .showcase {
    min-height: 300px;
    border: 1px solid var(--item1);
    padding: 15px;
    border-radius: 10px;
    margin: var(--m);
}

.product-minimal .showcase img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-minimal .showcase-content { width: 100%; }

.product-minimal .showcase-title {
  color: var(--item);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 2px;
}

.product-minimal .showcase-category {
  width: max-content;
  color: var(--item1);
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 3px;
}

.product-minimal .showcase-category:hover { color: var(--item-hover); }

.product-minimal .price-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-minimal .price {
  font-size: var(--price-font-size);
  font-weight: 700;
  color: var(--item2);
}

.product-minimal .price-box del {
  font-size: var(--price-font-size);
  color: var(--item1);
}

/*-----------------------------------*\
  #PRODUCT GRID
\*-----------------------------------*/

.product-main { margin-bottom: 30px; }

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.product-grid .showcase {
  border: 1px solid var(--item1);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
}

.product-grid .showcase:hover { box-shadow: 0 0 10px #ccc; }

.product-grid .showcase-banner { position: relative; }

.product-grid .product-img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
  transition: 0.2s ease;
}

.product-grid .product-img.default {
  position: relative;
  z-index: 1;
}

.product-grid .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.product-grid .showcase:hover .product-img.hover { opacity: 1; }

.product-grid .showcase:hover .product-img.default { opacity: 0; }

.product-grid .showcase:hover .product-img { transform: scale(1.1); }

.product-grid .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #36BA98;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 0 8px;
  border-radius: 10px;
  z-index: 3;
}

.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

.product-grid .showcase-badge.black { background: var(--item); }

.product-grid .showcase-badge.pink { background: var(--item2); }

.product-grid .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(75px);
  transition: 0.2s ease;
  z-index: 3;
  height: 25px;
  width: 25px;
}

.product-grid .showcase-actions button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-grid .showcase:hover .showcase-actions { transform: translateX(0); }

.product-grid .btn-action {
  background: var(--background);
  color: var(--item1);
  margin-bottom: 5px;
  border: 1px solid var(--item1);
  padding: 5px;
  border-radius: 10px;
  transition: 0.2s ease;
}

.product-grid .btn-action:hover {
  background: var(--background5);
  color: #fff;
  border-color: var(--item);
}

.product-grid .showcase-content { padding: 10px; }

.product-grid .showcase-category {
  color: var(--item2);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-grid .showcase-title {
  color: var(--item);
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: 0.2s ease;
}

.product-grid .showcase-title:hover { color: var(--item1); }

.product-grid .showcase-rating {
  display: flex;
  color: #F6E96B;
  margin-bottom: 10px;
}

.product-grid .price-box {
  display: flex;
  gap: 10px;
  font-size: 20px;
  color: var(--item);
  margin-bottom: 10px;
}

.product-grid .price { font-weight: 700; }

.product-grid del { color: var(--item1); }

.product-grid .buy-btn {
  background: var(--background);
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.2s ease;
  height: 40px;
}

.product-grid .buy-btn a {
  color: var(--item1);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.product-grid .buy-btn:hover {
  background: var(--item);
  border-color: var(--item);
}

.product-grid .buy-btn:hover a {
  color: #fff;
}